.List {
  --color: #000;
  --link-color: crimson;
}

.List h3 {
  color: var(--color);
  padding: 0.5rem;
  border-bottom: 2px solid var(--link-color);
}

.List ul {
  margin: 0.5rem 0 0 2rem;
}

.List li {
  margin: 0.2rem 0;
}

.List li a {
  text-decoration: none;
  color: var(--link-color);
}

.List li a:hover,
.List li a:focus {
  text-decoration: underline;
}

@media print {
  .List {
    --color: #000;
    --link-color: #000;
  }
}
