.City {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(to right, #ff8a00, #da1b60);
  margin: 1em auto;
  padding: 0.2em;
  transition: all 0.2s ease;
}

.City:hover {
  border-image: linear-gradient(to right, #ff8a00, #da1b60) 1 1;
}

.City > div {
  flex-grow: 1;
}

.City .widget {
  background: #fff;
}

.City .meta {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: transparent;
  /* background-image: linear-gradient(to right, #ff8a00, #da1b60); */
  width: 200px;
}

.City .meta .buttons {
  display: flex;
  flex-direction: column;
  width: 30px;
}

.City .meta button {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 0.5rem;
  margin: 0.1rem;
  color: crimson;
}

.City .meta button:hover,
.City .meta button:focus {
  background: crimson;
  color: #fff;
  cursor: pointer;
}

.City .meta h3 {
  font-size: 2rem;
  text-align: center;
  padding: 0.2rem 0.5rem;
  color: #000;
}

.City .meta .distance {
  text-align: right;
  padding: 1rem;
  font-size: 1.2rem;
}

@media print {
  .City {
    background: #fff;
    border-bottom: 2px solid #000;
  }

  .City .meta {
    justify-content: flex-start;
    width: auto;
    max-width: 200px;
  }

  .City .meta .buttons {
    display: none;
  }

  .City .meta h3,
  .City .meta .distance {
    padding: 0;
    text-align: left;
  }
}
